@import url("/home/oscarfaldi/.cache/wallust/waybar.css");

{
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 35px;
    font-weight: bold;
}

window#waybar {
    background: alpha(@background, 0.6);
    color: @foreground;
    opacity: 1;
}

#custom-logo {
    color: @foreground;
    padding: 0 6px;
    font-weight: bold;
    margin-left: 15px;
}

#workspaces button {
    color: @muted;
    padding: 0 0;
    border: none;
    margin-left: 10px;
    min-width: 15px;
}

#workspaces button.active {
    color: @accent;
}

#clock {
    color: @foreground;
    font-weight: bold;
    padding: 0 8px;
}

#custom-updates {
    color: @foreground;
    padding: 0 0;
    font-weight: bold;
}

#custom-updates.current {
    color: @foreground;
    padding: 0 0;
    font-weight: bold;
}

#custom-updates.updates {
    color: @warning;
    padding: 0 0;
    font-weight: bold;
}

#custom-store {
    color: @foreground;
    padding: 0 8px;
    font-weight: bold;
}

#custom-system-state.current {
    color: @foreground;
    padding: 0 0;
    font-weight: bold;
}

#custom-system-state.pending {
    color: @warning;
    padding: 0 0;
    font-weight: bold;
}

#cpu {
    color: @foreground;
    padding: 0 8px;
    font-weight: bold;
}

#memory {
    color: @foreground;
    padding: 0 8px;
    font-weight: bold;
}

#pulseaudio {
    color: @foreground;
    padding: 0 8px;
    font-weight: bold;
}

#network {
    color: @foreground;
    padding: 0 15px;
    font-weight: bold;
}

#tray {
    padding: 0 15px;
    font-weight: bold;
}

#custom-power {
    color: @foreground;
    padding: 0 10px;
    font-weight: bold;
    margin-right: 15px;
}
