* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 35px;
    font-weight: bold;
}

window#waybar {
    background: rgba(47, 55, 60, 0.9);
    color: #ffffff;
}

#custom-logo {
    color: #ffffff;
    padding: 0 6px;
    font-weight: bold;
}

#workspaces button {
    color: #80919a;
    padding: 0 6px;
    border: none;
}

#workspaces button.active {
    color: #ffffff;
}

#clock {
    color: #ffffff;
    font-weight: bold;
}

#cpu {
    color: #ffffff;
    padding: 0 8px;
    font-weight: bold;
}

#memory {
    color: #ffffff;
    padding: 0 8px;
    font-weight: bold;
}

#pulseaudio {
    color: #ffffff;
    padding: 0 8px;
    font-weight: bold;
}

#network {
    color: #ffffff;
    padding: 0 15px;
    font-weight: bold;
}

#tray {
    padding: 0 15px;
    font-weight: bold;
}

#custom-power {
    color: #ffffff;
    padding: 0 10px;
    font-weight: bold;
}
