[Desktop Entry]
Name=Browser
GenericName=Web Browser
Comment=Default Web Browser

Exec=chromium %U

Terminal=false
Type=Application

Categories=Network;WebBrowser;

MimeType=text/html;\
x-scheme-handler/http;\
x-scheme-handler/https;
