[Desktop Entry]
Type=Application
Name=Power
Comment=Power menu
Exec=menu
Icon=/home/oscarfaldi/System/.config/wlogout/icons/shutdown.png
Terminal=false
Categories=Power;
Keywords=shutdown;reboot;suspend;logout;
